{% extends "base.html" %}


{% block announce %}
<!-- Add announcement here, including arbitrary HTML -->
最近更新(๑•ᴗ•๑)♡ ： <a href="/Blog/2023/graduation_pics">毕业留影</a>
{% endblock %}


{% block libs %}
{{ super() }}
<!-- 数学公式格式支持，用html嵌入的方式支持数学公式自动换行，mathjax似乎要支持但是现在还没实现。
Automatic line breaking has not yet been implemented in MathJax version 3, 
but is high on our list for inclusion in a future release. -->
{% if page.meta and ("math" not in page.meta.hide) %}
<script src="{{ 'assets/javascripts/mathjax.js' | url }}"></script>
{% endif %}
{% endblock %}