{% if page.meta and ("comments" in page.meta.hide) %}
<p></p>
{% else %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<script src="https://giscus.app/client.js"
        data-repo="AIboy996/AIboy996.GitHub.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNjkxOTAwODQ="
        data-category="Announcements"
        data-category-id="DIC_kwDOFgFkxM4CT4vh"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="0"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="noborder_light"
        data-loading="lazy"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{% endif %}