/* termynal组件 */
.termynal-comment {
  color: #4a968f;
  font-style: italic;
  display: block;
}

.termy {
/* For right to left languages */
direction: ltr;
}

.termy [data-termynal] {
white-space: pre-wrap;
}

/* 隐藏文章底部的prev/next标签 */
.md-footer__inner:not([hidden]) {
    display: none;
}

/* 文本自动换行 */
p { word-wrap:break-word; }

/* 超链接加上小箭头 */
/* 下面的写法会选择多余的东西，暂时搁置 */
.md-content a[href *= '//']:not(.md-content__button):not(:has(img)) {
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=) center right no-repeat;
padding-right:13px;
margin-left:3px;
margin-right:3px;
}

.md-typeset h1 {
    font-weight: 500;
}

.md-typeset h2 {
    font-weight: 500;
    position: relative;
    text-align: center;
}

.md-typeset h3 {
    font-weight: medium; /* 500 */
    text-decoration: underline;
}

/* 视频居中 */
div.video-container {
    text-align: center;
}