name: publish site
on:
  push:
    branches:
      - publishment
jobs:
  # build locally, then deploy to cf pages
  deployment-cloudflare-pages:
    runs-on: ubuntu-latest
    environment: cloudflare-pages
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: publishment
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNTID }}
          projectName: githubio
          directory: '.'
          branch: main
